.preloader-wrap {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #999;
    font-size: 14px;
  }
  .preloader {
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
  }
  .preloader .layer {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow:
      1px 1px rgb(34, 180, 89),
      1px 2px rgba(0, 0, 0, 0.25);
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
  }
  .preloader .layer:nth-of-type(1) {
    background: rgba(34, 180, 89, 0.65);
    margin-top: 36px;
    animation: movedown 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s
      infinite normal;
  }
  .preloader .layer:nth-of-type(2) {
    background: rgb(100, 214, 142, 0.65);
    margin-top: 18px;
  }
  .preloader .layer:nth-of-type(3) {
    background: rgb(167, 232, 191, 0.75);
    animation: moveup 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
      normal;
  }
  @keyframes moveup {
    0%,
    60%,
    100% {
      transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
      transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg)
        translateZ(5px);
    }
  }
  @keyframes movedown {
    0%,
    60%,
    100% {
      transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
      transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg)
        translateZ(-5px);
    }
  }